.advantage {
  position: relative;
  max-width:570px;
  width:100%;
  min-height:299px;
  border:solid 1px green;
  margin:30px 0 0 0;
  padding: 40px 10px 0 45px;
  box-sizing: border-box;
  border: 1px solid #EBEBEB;
  border-left:solid 3px $main;
  background-color: #fff;

  &:hover {
    background-color: $main;
    border-top:1px solid $main;
    border-right:1px solid $main;
    border-bottom:1px solid $main;
    cursor: pointer;

    svg {
      path {
        fill:#fff;
      }
    }

    .advantage__name {
      color:#fff;
    }

    .advantage__text {
      color:#fff;
    }
  }

  @media (max-width: $desktop-medium-width) {
    max-width:460px;
  }

  @media (max-width: $tablet-width) {
    max-width:345px;
    min-height: 306px;
    padding: 24px 10px 0 25px;
  }

  @media (max-width: $mobile-width-only) {
    max-width:460px;
    min-height: 310px;

  }
}

.advantage--first {
  position: relative;

  &:after {
    content: "";
    position:absolute;
    top:-60px;
    left:-230px;
    width: 298px;
    height: 298px;
    background-image: url("../../img/triangle_advantages.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
  }
}

.advantage:nth-child(1),
.advantage:nth-child(2) {
  margin:0;
}

.advantage:nth-child(odd) {

  @media (max-width:$desktop-medium-width) {
    margin:0 15px 0 0;
  }

  @media (max-width:$tablet-width) {
    margin:0 28px 0 0;
  }

  @media (max-width:$mobile-width-only) {
    margin:0;
  }
}

.advantage:nth-child(n) {
  margin: 0 0 20px 0;
}

.advantage__name {
  font-family: 'Roboto Condensed', "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  color: $main;
  margin:23px 0 0 0;

  @media (max-width: $tablet-width) {
    margin:14px 0 0 0;
  }

  @media (max-width: $mobile-width-only) {
    font-size: 20px;
    line-height: 28px;
  }
}

.advantage__text {
  font-family: 'PT Mono', "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21.5px;
  color: #666666;
  margin:15px 0 0 0;

  @media (max-width: $tablet-width) {
    margin:21px 0 0 0;
  }

  @media (max-width: $mobile-width-only) {
    margin:16px 0 0 0;
  }
}


