.advantage {
  position: relative;
  max-width:570px;
  width:100%;
  min-height:299px;
  border:solid 1px green;
  margin:30px 0 0 0;
  padding: 40px 40px 10px 42px;
  box-sizing: border-box;
  border: 1px solid #EBEBEB;
  border-left:solid 3px $main;
  background-color: #fff;

  svg {
    fill:$main;
  }

  &:hover {
    background-color: $main;
    border-top:1px solid $main;
    border-right:1px solid $main;
    border-bottom:1px solid $main;

    svg {
      fill:#fff;
    }

    h3 {
      color:#fff;
    }

    p {
      color:#fff;
    }
  }

  h3 {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    color: $main;
    margin:16px 0 0 0;

    @media (max-width: $tablet-width) {
      margin:3px 0 0 0;
    }

    @media (max-width: $mobile-width-only) {
      font-size: 20px;
      line-height: 28px;
      margin:10px 0 0 0;
    }
  }

  @media (max-width: $desktop-medium-width) {
    max-width:460px;
  }

  @media (max-width: $tablet-width) {
    max-width:345px;
    min-height: 232px;
    padding: 24px 10px 0 25px;
  }

  @media (max-width: $mobile-width-only) {
    max-width:460px;
    min-height: 310px;
    padding:24px 10px 0 23px;
  }

  p {
    font-family: "PT Mono", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21.5px;
    color: #666666;
    margin:20px 0 0 0;

    @media (max-width: $tablet-width) {
      margin:8px 0 0 0;
      box-sizing: border-box;
      padding:0 15px 0 0;
    }

    @media (max-width: $mobile-width-only) {
      margin:10px 0 0 0;
    }
  }
}

.advantage--first {
  position: relative;

  &:after {
    content: "";
    position:absolute;
    top:-50px;
    left:-170px;
    width: 278px;
    height: 230px;
    background-image: url("../img/triangle_advantages.png");
    background-image: image-set(
      url("../img/triangle_advantagess.webp") type("image/webp"),
      url("../img/triangle_advantages.png") type("image/jpeg"));
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/triangle_advantages@2x.png");
      background-image: image-set(
        url("../img/triangle_advantages@2x.webp") type("image/webp"),
        url("../img/triangle_advantages@2x.png") type("image/jpeg"));
    }
  }

  @media (max-width: $tablet-width) {
    min-height: 306px;

    &:after {
      content: none;
    }
  }

  @media (max-width: $mobile-width-only) {
    min-height: 310px;
  }
}


.advantage:nth-child(n) {
  margin: 0 0 30px 0;

  @media (max-width: $mobile-width-only) {
    margin:0 0 20px 0;
  }
}

.advantage:nth-child(odd) {
  
  @media (max-width:$desktop-medium-width) {
    margin:0 0 30px 0;
  }

  @media (max-width:$tablet-width) {
    margin:0 28px 30px 0;
  }

  @media (max-width:$mobile-width-only) {
    margin:0 0 20px 0;
  }
}

.advantage--third {

  @media (max-width: $tablet-width) {
    padding:23px 10px 0 24px;

    h3 {
      margin:5px 0 0 0;
    }

    p {
      margin:14px 0 0 0;
    }
  }


  @media (max-width:$mobile-width-only) {
    min-height:232px;

    h3 {
      margin:4px 0 0 0;
    }

    p {
      margin:16px 0 0 0;
    }
  }
}

.advantage--fourth {


  @media (max-width: $tablet-width) {
    padding:23px 10px 0 24px;

    h3 {
      margin:4px 0 0 0;
    }

    p {
      margin:9px 0 0 0;
    }
  }
  @media (max-width:$mobile-width-only) {
    min-height:244px;

    h3 {
      margin:6px 0 0 0;
    }

    p {
      margin:17px 0 0 0;
      padding:0 10px 0 0;
    }
  }
}

.advantage--second {

  @media (max-width: $tablet-width) {
    padding:20px 10px 0 24px;

    h3 {
      margin:7px 0 0 0;
    }
  }

  @media (max-width:$mobile-width-only) {

    h3 {
      margin:10px 0 0 0;
    }

    p {
      margin:10px 0 0 0;
      padding:0 0 0 0;
    }
  }
}
