.form-image {
  margin:65px 0 0 0;
  width:540px;
  height:288px;

  @media (max-width: $desktop-medium-width) {

    width:470px;

    img {
      width:440px;
      height:254px;
    }
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}
