.form-image {
  margin:65px 0 0 0;

  @media (max-width: $desktop-medium-width) {

    img {
      width:480px;
      height:254px;
    }
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}
