.header-contacts {
  display: flex;
  justify-content: space-between;
  height:45px;

  @media (max-width:$mobile-width-only) {
    height:30px;
  }
}

.header-contacts__post,
.header-contacts__phone {
  position: relative;
  display: flex;
  align-items: center;
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 45px;
  color:#fff;
  text-decoration: none;

  span {
    margin: 0 0 0 20px;
  }

  svg {
    fill:$main;
  }

  &:hover {
    color:$main;

    svg {
      fill: #fff;
    }
  }

  @media (max-width: $tablet-width) {
    span {
      display: none;
    }
  }

  @media (max-width:$mobile-width-only) {
    line-height:35px;
  }
}

.header-contacts__post {
  margin:0 85px 0 0;

  svg {
    width:19px;
    height:14px;
  }

  @media (max-width: $tablet-width) {
    margin:0 33px 0 0;

    svg {
      width:25px;
      height:19px;
    }
  }

  @media (max-width: $mobile-width-only) {
    margin:0 23px 0 0;

    svg {
        width: 25px;
        height: 18px;
    }
  }
}

.header-contacts__phone {
  margin:0 50px 0 0;

  @media (max-width: $tablet-width) {
    margin:0;

    svg {
      width:24px;
      height:24px;
    }
  }
}

.header-contacts__call {
  width:180px;
  height:45px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 5px;
  color:#fff;

  &:hover {
    cursor: pointer;
    background-color: $main;
    border:solid 1px $main;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}
