.main-img {
  position: relative;
  height:505px;
  width:705px;
  z-index: 10;

  img {
    width:100%;
    height:100%;
  }

  &:after {
    content: "";
    position: absolute;
    top:0;
    left:0;
    width:620px;
    height:515px;
    background-image: url('../../img/microscheme-bg__desk.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  @media (max-width: $desktop-medium-width) {
    height:287px;
    width:403px;

    &:after {
      width:420px;
      height:349px;
    }
  }

  @media (max-width: $tablet-width) {
    position: absolute;
    top:103px;
    right:-205px;
    width:465px;
    height:340px;

    &:after {
      width:488px;
      height:405px;
      top:-31px;
      left:-50px;
    }
  }
}
