.main-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width:718px;
  margin:0 71px 0 0;

  @media (max-width: $desktop-width) {
    width:550px;
  }

  @media (max-width: $desktop-medium-width) {
    width:490px;
    margin:0 42px 0 0;
  }

  @media (max-width: $tablet-width) {
    width:427px;
    margin:83px 0 0 63px;
  }

  @media (max-width: $mobile-width-only) {
    width:100%;
    max-width: 350px;
    margin:194px 0 0 0;
    z-index: 10;
  }
}

.main-info__name {
  font-family: 'Roboto Condensed', "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #fff;
  margin:55px 0 0 0;

  @media (max-width: $desktop-width) {
    font-size: 60px;
    line-height: 74px;
  }

  @media (max-width: $desktop-medium-width) {
    font-size: 50px;
    line-height: 54px;
  }

  @media (max-width: $tablet-width) {
    font-size: 60px;
    line-height: 70px;
    margin:0;
  }

  @media (max-width: $mobile-width-only) {
    font-size: 40px;
    line-height: 47px;
  }
}

.main-info__text {
  position: relative;
  font-family: 'PT Mono', "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color:#fff;
  margin:31px 0 0 94px;

  &:before {
    content: "";
    position: absolute;
    left:-88px;
    top:16px;
    width:66px;
    height:2px;
    background-color: #fff;
  }

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 28px;
    margin:32px 0 0 48px;

    &:before {
      left:-48px;
      width:33px;
    }
  }

  @media (max-width: $mobile-width-only) {
    font-size:16px;
    line-height: 25px;
  }
}

.main-info__open-modal {
  width:407px;
  height:55px;
  background: $main;
  border-radius: 5px;
  border:none;
  outline:none;
  margin:37px 0 0 94px;
  font-family: 'Roboto Condensed', "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color:#fff;

  &:hover {
    cursor: pointer;
    background-color: #fff;
    color:$main;
    border:1px solid #fff;
  }

  @media (max-width: $desktop-medium-width) {
    width:397px;
  }

  @media (max-width: $tablet-width) {
    width:379px;
    margin:37px 0 0 48px;
  }

  @media (max-width: $mobile-width-only) {
    width:287px;
    margin:42px 0 0 0;

    span {
      display: none;
    }
  }
}
