.main-img {
  position: relative;
  height:505px;
  width:705px;
  z-index: 10;


  &:after {
    content: "";
    position: absolute;
    top:0;
    left:0;
    width:620px;
    height:515px;
    background-image: url('../../img/microscheme-bg__desk.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
}
