.page-footer {
  width:100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin:65px auto 0;

  @media (max-width: $tablet-width) {
    margin: 19px auto 0;
  }

  @media (max-width: $mobile-width-only) {
    margin: 46px auto 0;
  }
}
