.service {
  max-width:1170px;
  width:100%;
  margin:0 auto;
  padding:93px 0 127px 0;

  @media (max-width: $desktop-medium-width) {
    box-sizing: border-box;
    padding:93px 42px 127px 42px;
  }
}

.service__name {
  font-family: 'Roboto Condensed', "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #fff;
  margin:0;
}
