.service {
  width:1170px;
  margin:0 auto;
  padding:93px 0 127px 0;
}

.service__name {
  font-family: 'Roboto Condensed', "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #fff;
  margin:0;
}
