.service {
  max-width:1170px;
  width:100%;
  margin:0 auto;
  padding:93px 0 127px 0;

  @media (max-width: $desktop-medium-width) {
    box-sizing: border-box;
    padding:93px 42px 127px 42px;
  }

  @media (max-width: $tablet-width) {
    padding:53px 25px 32px 25px;
  }

  @media (max-width: $mobile-width-only) {
    padding:53px 15px 34px 15px;
  }
}

.service__name {
  font-family: 'Roboto Condensed', "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #fff;
  margin:0;

  @media (max-width: $tablet-width) {
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $tablet-width) {
    font-size: 28px;
    line-height: 39px;
  }

  @media (max-width: $mobile-width-only) {
    padding:0 5px 0 5px;
  }
}
