.site-map {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1B2D37;
  margin:0 0 25px 0;

  &:hover {
    cursor: pointer;
  }

  @media (max-width: $mobile-width-only) {
    margin:0 0 28px 0;
  }
}
