.wrapper-submit-agreement {
  position: relative;
  width:100%;
  display: flex;
  justify-content: space-between;
  margin:40px 0 0 0;

  input {
    top:24px;
    left:318px;
  }

  input:checked+label {

    &:after {
      content: "";
      position: absolute;
      width:8px;
      height:5px;
      top:13px;
      left:4px;
      background-image: url("../../img/check.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  label {
    position: relative;
    display: flex;
    align-items: center;
    height:45px;
    padding:0 0 0 32px;
    font-family: 'PT Mono', "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    opacity: .8;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    &:before {
      content: "";
      position: absolute;
      top:8px;
      left:0;
      width:16px;
      height: 16px;
      border: 1px solid #fff;
      box-sizing: border-box;
      opacity:1;
    }
  }

  @media (max-width: $desktop-medium-width) {
    width:430px;
    margin:30px 0 0 0;

    input {
      top:24px;
      left:230px;
    }

    label {
      font-size: 12px;
      line-height: 16px;
    }
  }

  @media (max-width: $tablet-width) {
    width:590px;
    margin:40px 0 0 0;

    input {
      top:24px;
      left:328px;
    }

    label {
      font-size: 14px;
      line-height: 16px;
    }
  }

  @media (max-width: $mobile-width-only) {
    width: 100%;
    flex-direction: column;
    margin:30px 0 0 0;
    align-items: flex-start;

    input {
      top:98px;
      left:9px;
    }

    label {
      width:240px;
      margin:25px 0 0 0;
      padding:0 0 0 34px;

      &:before {
        top:8px;
      }
    }

    input:checked+label {

      &:after {
        top:13px;
      }
    }
  }
}

.wrapper-submit-agreement--modal {
  position: relative;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin:30px 0 0 0;

  input {
    top:98px;
    left:9px;
  }

  label {
    height:33px;
    width:320px;
    margin:34px 0 0 0;
    padding:0 0 0 48px;

    &:before {
      top:4px;
    }
  }

  input:checked+label {

    &:after {
      top:9px;
    }
  }
}

.wrapper-submit-agreement__send {
  min-width:270px;
  width:270px;
  height:45px;
  margin:0 38px 0 0;
  padding:0;
  border: 1px solid #fff;
  outline: none;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: transparent;
  font-family: 'Roboto Condensed', "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;

  &:hover {
    cursor: pointer;
    background-color: #fff;
    color:$main;
  }

  @media (max-width: $desktop-medium-width) {
    min-width:200px;
    width:200px;
    margin:0 20px 0 0;
  }

  @media (max-width: $tablet-width) {
    min-width:280px;
    width:280px;
    margin:0 41px 0 0;
  }

  @media (max-width: $mobile-width-only) {
    width:100%;
    margin:0;
  }
}

.wrapper-submit-agreement--modal {

  .wrapper-submit-agreement__send {
    width:100%;
    margin:0;
  }
}
