.wrapper-top-footer {
  width:100%;
  display: flex;
  justify-content: space-between;
  border-bottom:1px solid rgba(98,105,98,.2);
  padding:0 0 58px 0;

  @media (max-width: $desktop-width) {
    padding:0 42px 55px 42px;
    box-sizing: border-box;
  }

  @media (max-width: $tablet-width) {
    padding:0 0 12px 0;
  }

  @media (max-width: $mobile-width-only) {
    padding:0;
  }
}

.wrapper-top-footer__wrap {
  width:100%;
  max-width:1412px;
  display: flex;
  justify-content: space-between;
  margin:0 auto;

  @media (max-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "logo logo"
    "site-map place";
  }

  @media (max-width: $mobile-width-only) {
    display: flex;
    flex-direction: column;
  }
}

.wrapper-top-footer__first-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (max-width: $tablet-width) {
    grid-area: logo;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom:solid 1px rgba(98,105,98,.2);
    padding:0 25px 26px 25px;
    box-sizing: border-box;
  }

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
    padding:0 25px 55px 25px;
  }
}

.wrapper-top-footer__third-block {
  display: flex;
  flex-direction: column;

  a {
    font-family: 'PT Mono', "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #1B2D37;
    opacity: 0.5;
    text-decoration: none;

    &:hover {
      color:$main;
      opacity: 1;
    }
  }

  @media(max-width:$desktop-medium-width) {
    width:270px;
  }

  @media (max-width: $tablet-width) {
    width:100%;
    grid-area: place;
    margin:38px 0 0 0;
    padding:0 25px 23px 17px;
    box-sizing: border-box;
  }

  @media (max-width:$mobile-width-only) {
    position: relative;
    padding:0 25px 0 25px;
    box-sizing: border-box;
    margin:29px 0 0 0;

    a {
      width:270px;
      display: none;
    }

    &.no-js {
      padding:0 15px 28px 15px;

      a {
        display: block;
      }

      &:before,
      &:after {
        content:none;
      }
    }

    &.wrapper-top-footer__third-block--open {
      padding:0 15px 28px 15px;

      a {
        display: block;
      }

      &:after {
        content:none;
      }
    }

    &:before {
      content:"";
      position: absolute;
      width:16px;
      height:1px;
      top:7px;
      right:16px;
      background: #C4C4C4;
    }

    &:after {
      content:"";
      position: absolute;
      width:16px;
      height:1px;
      top:7px;
      right:16px;
      transform: rotate(90deg);
      background: #C4C4C4;
    }
  }
}

.wrapper-top-footer__second-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (max-width: $desktop-medium-width) {
    justify-content: flex-start;
  }

  @media (max-width: $tablet-width) {
    margin:38px 0 0 0;
    grid-area: site-map;
    padding:0 25px 23px 25px;
    box-sizing: border-box;
  }

  @media (max-width:$mobile-width-only) {
    position: relative;
    border-bottom:solid 1px rgba(98,105,98,.2);
    padding:0 15px 0 15px;
    margin:29px 0 0 0;

    ul {
      display: none;
    }

    &.no-js {
      padding:0 15px 23px 15px;

      ul {
        display: block;
      }

      &:before,
      &:after {
        content:none;
      }
    }

    &.wrapper-top-footer__second-block--open {
      padding:0 15px 23px 15px;

      ul {
        display: block;
      }

      &:after {
        content:none;
      }
    }

    &:before {
      content:"";
      position: absolute;
      width:16px;
      height:1px;
      top:8px;
      right:15px;
      background: #C4C4C4;
    }

    &:after {
      content:"";
      position: absolute;
      width:16px;
      height:1px;
      top:8px;
      right:15px;
      transform: rotate(90deg);
      background: #C4C4C4;
    }
  }
}
