.wrapper-main-info {
  width:100%;
  box-sizing: border-box;
  padding:89px 0 0 0;
  margin:-89px 0 0 0;
  background-color: #1B2D37;
  background-image: url("../img/main__desk.png");
  background-image: image-set(
        url("../img/main__desk.webp") type("image/webp"),
        url("../img/main__desk.png") type("image/jpeg"));
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/main__desk@2x.png");
    background-image: image-set(
        url("../img/main__desk@2x.webp") type("image/webp"),
        url("../img/main__desk@2x.png") type("image/jpeg"));
  }

  @media (max-width: $desktop-medium-width) {
  }

  @media (max-width: $tablet-width) {
    overflow-x: hidden;
  }

  @media (max-width: $mobile-width-only) {
    padding:55px 0 0 0;
    margin:-55px 0 0 0;
  }
}

.wrapper-main-info__bg {
  display: flex;
  justify-content: space-between;
  width:100%;
  max-width:1574px;
  margin:176px auto 0 auto;

  @media (max-width: $desktop-width)  {
    padding:0 42px;
    box-sizing: border-box;
    margin:150px auto 0 auto;
  }

  @media (max-width: $tablet-width) {
    margin:33px auto 0 auto;
  }

  @media (max-width: $mobile-width-only) {
    justify-content: center;
    padding:0 15px;
    margin:37px 0 0 0;
  }
}
