.wrapper-advantages {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width:1170px;
  width:100%;
  height:auto;
  margin:112px auto 0;
  z-index: 15;

  &:after {
    content: "";
    position:absolute;
    bottom:50px;
    right:-340px;
    width: 260px;
    height: 250px;
    background-image: url("../img/triangle_advantages.png");
    background-image: image-set(
        url("../img/triangle_advantages.webp") type("image/webp"),
        url("../img/triangle_advantages.png") type("image/jpeg"));
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(180deg);
    z-index: -1;
    @media (min-resolution: 2dppx) {
      background-image: url("../img/triangle_advantages@2x.png");
      background-image: image-set(
        url("../img/triangle_advantages@2x.webp") type("image/webp"),
        url("../img/triangle_advantages@2x.png") type("image/jpeg"));
    }
  }

  @media (max-width: $tablet-width) {
    margin:54px auto 0;
  }

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin:37px 0 0 0;
  }
}
