.wrapper-bottom-footer {
  max-width:1412px;
  width:100%;
  display: flex;
  justify-content: space-between;
  margin:15px auto;

  p,a {
    font-family: "PT Mono", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #1B2D37;
    opacity: .5;
    text-decoration: none;
    margin:0;
  }

  a {
    &:hover {
    color:$main;
    }
  }

  @media (max-width: $desktop-width) {
    padding:0 42px 0 42px;
    box-sizing: border-box;
  }

  @media (max-width: $tablet-width) {
    padding:0 27px 0;
    margin:21px auto 24px auto;
  }

  @media (max-width:$mobile-width-only) {
    margin:27px auto 24px 0;
  }
}

.wrapper-bottom-footer__text {
  display: flex;
  justify-content: space-between;
  margin:0 142px 0 0;

  p {
    margin:0;
  }

  p:first-child {
    margin:0 73px 0 0;
  }

  @media (max-width: $desktop-medium-width) {
    margin:0 100px 0 0;

    p:first-child {
      margin:0 40px 0 0;
    }
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.wrapper-bottom-footer__links {
  display: flex;
  justify-content: space-between;
  flex-grow:1;

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
    align-items: center;
    margin:0 auto;

    a:first-child {
      margin:0 0 21px 0;
    }
  }
}
