.wrapper-advantages-about {
  position: relative;
  width: 100%;
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    width: 636px;
    height: 860px;
    left:calc(50% - 130px);
    top:20px;
    background-image: url("../img/triangle_about.png");
    background-image: image-set(
      url("../img/triangle_about.webp") type("image/webp"),
      url("../img/triangle_about.png") type("image/jpeg"));
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(180deg);

    @media (min-resolution: 2dppx) {
      background-image: url("../img/triangle_about@2x.png");
      background-image: image-set(
        url("../img/triangle_about@2x.webp") type("image/webp"),
        url("../img/triangle_about@2x.png") type("image/jpeg"));
    }
  }

  @media (max-width: $desktop-medium-width) {
    margin:0 auto;
    padding:0 42px;
    box-sizing: border-box;
  }

  @media (max-width: $tablet-width) {
    padding:0 25px;

    &:after {
      top:105px;
      width:515px;
      height:715px;
      left:calc(50% + 95px);
    }
  }

  @media (max-width: $mobile-width-only) {
    padding:0 15px 0 15px;
  }
}
