.wrapper-form {
  width:100%;
  padding:96px 0 113px 0;
  background-color: $main;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    padding:83px 0 103px 0;
  }

  @media (max-width: $tablet-width) {
    padding:33px 0 41px 0;
  }
}

.wrapper-form__block {
  position: relative;
  max-width:1170px;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin:0 auto;
  z-index: 10;

  &:after {
    content: "";
    position: absolute;
    top:-10px;
    left:-155px;
    width:620px;
    height:515px;
    background-image: url('../../img/microscheme-bg__desk.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  @media( max-width: $desktop-width) {

    &:after {
      left:42px;
    }
  }

  @media (max-width: $desktop-medium-width) {
    padding:0 42px;
    box-sizing: border-box;

    &:after {
      top:10px;
      width:470px;
      height:390px;
    }
  }

  @media (max-width: $tablet-width) {
    justify-content: center;

    &:after {
      content:none;
    }
  }

  @media (max-width: $mobile-width-only) {
    padding:0 15px;
    box-sizing: border-box;
  }
}
