.wrapper-site-map {
  display: flex;
  width: 458px;
  justify-content: flex-start;
  margin:0;

  @media (max-width: $desktop-medium-width) {
    height:100%;
    width:100%;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.wrapper-site-map__first,
.wrapper-site-map__second {
  margin:0;
  padding: 0;
  list-style: none;

  a {
    font-family: PT Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #1B2D37;
    opacity: 0.5;
    text-decoration: none;

    &:hover {
      color:$main;
      opacity: 1;
    }
  }

  @media (max-width: $desktop-medium-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;;
  }
}

.wrapper-site-map__first {
  margin:0 80px 0 0;

  @media (max-width:$desktop-medium-width) {
    margin:0 40px 0 0;
  }
}
