.wrapper-advantages-about {
  position: relative;
  width: 100%;
  z-index: -2;
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    width: 636px;
    height: 860px;
    left:calc(50% - 260px);
    top:40px;
    background-image: url("../../img/triangle_about.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(180deg);
  }

  @media (max-width: $desktop-medium-width) {
    margin:0 auto;
    padding:0 42px;
    box-sizing: border-box;
  }
}
