.wrapper-about {
  position: relative;
  min-height: 317px;
  max-width:1170px;
  width:100%;
  padding:0 0 0 180px;
  margin:82px auto 0;
  box-sizing: border-box;
  z-index: 10;

  p {
    font-family: 'PT Mono', "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #666666;
  }

  p:nth-child(2) {
    font-family: 'PT Mono', "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #666666;
    margin:19px 0 0 0;
  }

  p:nth-child(3) {
    font-family: 'PT Mono', "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #666666;
    margin:18px 0 0 0;
  }

  &:before {
    content:"";
    position: absolute;
    top:0;
    left:-30px;
    width:220px;
    height:317px;
    background-image: url("../img/2005.png");
    background-image: image-set(
      url("../img/2005.webp") type("image/webp"),
      url("../img/2005.png") type("image/jpeg"));
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/2005@2x.png");
      background-image: image-set(
        url("../img/2005@2x.webp") type("image/webp"),
        url("../img/2005@2x.png") type("image/jpeg"));
    }
  }

  &:after {
    content: "";
    position: absolute;
    width: 636px;
    height: 580px;
    left: -585px;
    bottom: 0px;
    background-image: url("../img/triangle_about.png");
    background-image: image-set(
      url("../img/triangle_about.webp") type("image/webp"),
      url("../img/triangle_about.png") type("image/jpeg"));
    background-repeat: no-repeat;
    background-size: contain;
    z-index:-1;
    transform: rotate(0deg);

    @media (min-resolution: 2dppx) {
      background-image: url("../img/triangle_about@2x.png");
      background-image: image-set(
        url("../img/triangle_about@2x.webp") type("image/webp"),
        url("../img/triangle_about@2x.png") type("image/jpeg"));
    }
  }

  @media (max-wixth: $desktop-medium-width) {

    &:after {
      content:none;
    }
  }

  @media (max-width: $tablet-width) {
    margin:26px auto 0;
    padding:0 0 0 187px;

    p:nth-child(2) {
      margin:23px 0 0 0;
    }

    p:nth-child(3) {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    &:before {
      top:0px;
      left:-35px;
      width:240px;
      height:360px;
    }
  }

  @media (max-width: $mobile-width-only) {
    margin:38px auto 0;
    padding:0;

    p:nth-child(2) {
      margin:20px 0 0 0;
    }

    p:nth-child(3) {
      display: -webkit-box;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin:40px 0 0 0;
    }

    &:before {
      content: none;
    }
  }
}

.wrapper-about__name {
  font-family: 'Roboto Condensed', "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 50px;
  color: #666666;
  margin:0;

  @media (max-width: $tablet-width) {
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $mobile-width-only) {
    font-size: 28px;
    line-height: 39px;
  }
}

.wrapper-about__info {
  width:180px;
  height: 45px;
  border: 1px solid $main;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff;
  font-family: 'Roboto Condensed', "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $main;
  margin:38px 0 0 0;

  &:hover {
    color:#fff;
    background-color: $main;
    cursor: pointer;
  }

  @media (max-width:$tablet-width) {
    margin:45px 0 0 0;
  }

  @media (max-width: $mobile-width-only) {
    margin:29px 0 0 0;
  }
}
