/* Colors */

$main: #00B2FF;
$dark: #1F1F1F;

/*  Viewports */

$super-extra-width: 1999px;

$extra-width: 1749px;

$desktop-width: 1540px;

$desktop-medium-width: 1300px;

$tablet-width: 1023px;

$mobile-width-only: 767px;
